[Unit]
Description=CloudCamera service
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/python ~/CloudCamera/CloudCam.py

[Install]
WantedBy=multi-user.target
