[Unit]
Description=CloudCam gif service
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/python ~/CloudCamera/wiggleCloud.py

[Install]
WantedBy=multi-user.target
